[2013-06-25 21:09] eaigner opened #1 "Subscription API"
I'd need the subscription api to get going with Braintree.

[2013-06-30 15:13] #1 closed, assigned to nobody

[2013-07-13 19:40] lionelbarrow opened #4 "Advanced search"
Hey @eaigner, would you find the advanced search functionality described [here](https://www.braintreepayments.com/docs/ruby/transactions/search) or [here](https://www.braintreepayments.com/docs/ruby/subscriptions/search) useful? I was thinking of taking a crack at it this weekend.

[2013-07-13 19:50] lionelbarrow opened #5 "Field-specific error messages"
When Braintree is sent invalid input, it returns an error object that contains both a global summary of what went wrong and field-specific error messages. For example in the Ruby client library:

[code]

You can then do both this (which is what the Go library currently supports):

[code]

and this:

[code]

This allows for people to be more specific when displaying errors to their user. I'll inves

[2013-10-25 04:23] #5 closed, assigned to nobody

[2013-11-18 18:00] lionelbarrow opened #8 "Discounts and add-ons"
I have a branch adding support for subscription discounts and add-ons, so that'll be coming soon.

[2014-02-10 13:09] kiro opened #12 "Refunds"
Hi, I'm trying to add refunds. When trying to test, it seems that I need to do a PUT to /transactions/<transactionId>/settle in order to settle a transaction, before refunding it. For some reason this returns 404, can you please advice how it can be done?

Thanks,
Kiril

[2014-05-29 15:27] #12 closed, assigned to nobody

[2014-08-15 06:18] cannapages opened #19 "Open REST Api"
Do you have documentation on the brain tree rest API. I read an article where they stated they only want to expose client API's and I would like to contribute to this one however without any documentation I am flying blind.

[2015-01-23 18:33] jszwedko opened #24 "Use `big.Rat` or another type to avoid losing precision for currency values"
I know this would break the API, but how do you feel about swapping out the `float64`s currently being used for amounts with `big.Rat`s to avoid losing precision?

[2015-01-23 19:54] jszwedko commented on #19
@cannapages unfortunately the HTTP API isn't documented. The best thing to do is to look at one of the existing client library implementations to see the expected behavior.

[2015-01-23 20:08] lionelbarrow commented on #24
It's something I've been meaning to get around to. This was an oversight when I first wrote the library.

[2015-01-23 23:42] jszwedko opened #27 "Use a "nullable" type for primitive values that may be empty in Braintree responses"
E.g. `Plan.NumberOfBillingCycles` may be empty in the response XML from Braintree, but is otherwise an integer. We currently deserialize to a `string` to avoid this issue.

Possible solutions:
- Create types that can either be an `int` (or `bool`, `float`, etc.) or `nil` and use those (similar to `sql.NullInt`)
- Make use of https://github.com/guregu/null which does this work, but would require us

[2015-01-23 23:44] jszwedko commented on #27
I'm currently leaning towards rolling our own to avoid the dependency.

[2015-01-24 01:15] jszwedko opened #29 "Prefix tags with `v` to support gopkg.in?"
If we specify the tags with a leading `v`, people can use this library with http://labix.org/gopkg.in. This might be nice while the API is still stabilizing.

Reference: http://labix.org/gopkg.in#SupportedURLs

[2015-04-03 17:50] lionelbarrow commented on #24
Done!

[2015-04-03 17:50] #24 closed

[2015-04-03 17:50] lionelbarrow commented on #27
Done.

[2015-04-03 17:50] #27 closed

[2015-04-03 18:12] lionelbarrow commented on #19
Yep, sorry there isn't any public REST API documentation.

[2015-04-03 18:12] #19 closed

[2015-04-29 15:42] joaojeronimo opened #37 "404 Error ?"
Hey, I just got a 404 error [here](https://github.com/lionelbarrow/braintree-go/blob/master/credit_card_gateway.go#L16) does that mean braintree may have changed it's API and this is now pointing to the wrong place ?

[2015-04-29 16:01] joaojeronimo commented on #37
Sorry, my mistake

[2015-04-29 16:02] #37 closed

[2015-05-06 16:06] antonholmquist opened #38 "Unable to distinguish between network errors and api errors?"
I'm trying determine the failure reason of `bt.Customer().Find(customerID)`.

It returns an error (but not of any exported type) so I can't seem to distinguish between network errors, and the customer not actually existing.

The README states "If Braintree was able to process the request correctly, but was unable to fulfill it due to a semantic failure (such as the credit card being declined) then

[2015-05-07 16:51] lionelbarrow commented on #38
Ah, that might be a design bug -- it seems that `BraintreeError` should be exported so that you can check if you've got one.

[2015-05-07 17:45] lionelbarrow commented on #38
Fixed in https://github.com/lionelbarrow/braintree-go/commit/41de65ad3d1e7f57fa62f5cfb9941ed1560ddd33

[2015-05-08 10:32] antonholmquist commented on #38
`BraintreeError` is now exposed, but `bt.Customer().Find(customerID)´ never returns it, so I still can't distinguish between network errors and the customer not actually existing. The error that is returned is of the unexported type `invalidResponseError`.

[2015-05-12 07:44] antonholmquist commented on #38
Shall I post this as a separate issue or will you re-open it?

By the way, do you know if there is any chance that Braintree will accept this as an official Go client in the future?

[2015-05-12 18:00] lionelbarrow commented on #38
I'll look into it more.

I'm not sure if this will become an official library any time soon, but I'll pass along the interest.

[2015-07-22 20:14] codewitch opened #39 "Refund Capability"
Hi there,

I've looked and there doesn't seem to be a Refund capability for settled transactions at the moment. Could you confirm this?

If so, can I put it as a function of TransactionGateway in a pull request? It looks like it should be a POST to "/transactions/#{transaction_id}/refund" with params: transaction => {:amount => amount})

Thanks!
Thomas

[2015-07-26 16:10] lionelbarrow commented on #39
Yep, looks like you've got it right in the pull request.

[2015-07-26 16:10] lionelbarrow commented on #39
Gonna close this since I've merged https://github.com/lionelbarrow/braintree-go/pull/40 in.

[2015-07-26 16:10] #39 closed

[2015-07-29 07:11] antonholmquist commented on #38
Any news on this?

[2015-08-06 22:04] DavidHuie opened #42 "Custom fields"
Support for custom fields would be very helpful.

[2015-08-09 21:35] lionelbarrow commented on #38
I took another look at the code this afternoon. As I see it, there are four failure cases to be concerned with:

* A networking failure happens and the request is unable to reach Braintree. It seems unlikely that this would return in a 404. A 502 or 503 is more likely.
* The request reaches Braintree but the URL is wrong. Perhaps we're hitting `GET /merchants/{merchant-id}/castomer` or something l

[2015-08-21 05:14] sadlil opened #45 "Adding payment Methods for a Customer from Nonce"
I am trying to use your library for developing an application. On that i am using drop-in UI. that sends payment_method_nonce. I can manage successful transaction using this, But the problem is i can not use this while subscribing a plan. I have customer info coming from another source. So when adding customer i do not have any credit card information. So i need to add payment Method from nonce wh

[2015-08-21 05:42] #45 closed

[2015-08-21 05:44] sadlil commented on #45
I solved this problem By using this:

fmt.Printf("[DEBUG] Nonce From Html: %s\n", nonce)
	customer, err := bt.Customer().Create(&customerData)
	if(err != nil) {
		fmt.Println("[EROR] Can not create Customer ", err)
		return false
	}
	fmt.Println("[DEBUG] Customer Created Id ", customer.Id)
	card, cardErr := bt.CreditCard().Create(&braintree.CreditCard{
		CustomerId:     customer.Id,
		PaymentMetho

[2015-10-21 08:30] 17twenty opened #48 "401 Unauthorised when trying form example"
I'm using your example server.go with form.html and when I feed it my values it gives back an Unauthorised 401 - known issue?

Have I missed a step? I ran go run server.go and hit it at localhost with a demo credit card of:
"4111111111111111"
"05/2010"
"100"

which should succeed. I even hardcoded my merch details into the app for testing and still unauthorised.

[2015-10-21 09:07] 17twenty commented on #48
Scratch that - something was wrong with my shell. I'm gonna apologise and slyly blame my El Capitan upgrade :+1:

[2015-10-21 09:07] #48 closed

[2015-10-22 21:48] lionelbarrow commented on #48
:

[2015-10-25 05:02] 17twenty opened #49 "Google App Engine failure"
Trying to use the library from within Google App Engine yields a failure:
[code]

It looks like using those calls are considered bad (same issue fixed in the OAuth library https://github.com/golang/oauth2/issues/27 ).

Are you able to pitch a fix for that particular issue? I can help with testing if need be

[2015-10-25 05:41] 17twenty commented on #49
I added a new function to braintree.go, it would be nicer to get it to support a passed transport but I needed a quick and dirty solution.
appengine/urlfetch does provide a compatible transport so this worked fine for me - see https://cloud.google.com/appengine/docs/go/urlfetch/ for info.

[code]

How would you like to see something like this added?

[2015-10-28 16:52] olivoil opened #50 "Oauth gateway for partners API"
Hi,

I would love to see support for the oauth gateway to enable using the partners API.

The documentation from braintree is [here](https://developers.braintreepayments.com/guides/partner-api/oauth/ruby), and I believe the ruby equivalent is [here](https://github.com/braintree/braintree_ruby/blob/master/lib/braintree/oauth_gateway.rb).

Has anyone started working on it? Is anyone else interested?

[2015-10-30 20:11] lionelbarrow commented on #49
Yea, if the issue is that we can't use the default HTTP client, making it injectable with a sane default is a really good idea.

[2015-10-31 15:54] pedromg commented on #49
bt := braintree.New(
		BrainTreeEnvironment,
		theProvider.Braintree.MerchantId,
		theProvider.Braintree.PublicKey,
		theProvider.Braintree.PrivateKey,
	)

	// set the context
	bt.SetHTTPClient(urlfetch.Client(context))

	return bt, nil

[2015-10-31 15:57] pedromg commented on #49
I've been using this successfully:

[code]

Now one can use AppEngine requests, having ```context context.Context```:

[code]

[2015-12-08 16:14] pedromg opened #54 "Transaction Currency"
We need to use other currencies other than Euro on our system. There seems to be no support for currencies on Transactions implemented, so we added:

```CurrencyIsoCode string `xml:"currency-iso-code,omitempty"` ```

to transaction.go

Yet, when we try to process a transaction:
[code]
we get on the response the error:

Forbidden (403)

Does it have to do with the implementation or the account defi

[2015-12-09 15:36] lionelbarrow commented on #54
Sorry for the confusion -- that's not how Braintree's API works. You don't set the currency directly on an API call. Rather, each of your merchant accounts has a currency associated with it, and you can specify the currency by changing the merchant account. This article has more details: https://articles.braintreepayments.com/get-started/currencies

[2015-12-09 15:36] #54 closed

[2015-12-09 16:40] pedromg commented on #54
:+1: yes, thanks, working now

[2016-02-03 20:00] cjrd commented on #42
I would also find this useful and am very willing to submit a PR if you could provide a higher level overview of how to implement this change =)

[2016-02-19 11:27] manuelstofer opened #57 "Runnung the tests"
I did not find out how to create a transaction with the id 'dskdmb' to run the tests successfully.

[2016-03-11 21:42] mnzt opened #58 "Recurring billing payment nonce"
Following the docs here:
https://developers.braintreepayments.com/guides/recurring-billing/create/ruby

The `Subscription` struct should therefore contain a payment method nonce.

[2016-03-11 21:43] mnzt commented on #58
I haven't taken a look at the src for this API yet, so if someone familiar would like to have a shot at this first that'd be ideal. If not, I'll crack it open and see what I can do.

[2016-03-11 21:47] mnzt commented on #58
Unless you include a transaction with the nonce under the `Transactions` literal?

[2016-03-16 01:24] atishpatel opened #59 "Escrow support"
Hello!

I'm just getting started with Braintree for my application, and it's really awesome to see this library that supports Golang for Braintree. However, I need escrow support for my application.

Is there anyone working on this?

[2016-04-01 21:48] leighmcculloch opened #62 "A test fails on TravisCI every few builds"

[2016-04-14 06:59] jkscheung commented on #8
Was this ever properly implemented?

[2016-04-18 04:46] lionelbarrow commented on #8
Looks like! https://github.com/lionelbarrow/braintree-go/blob/master/discount_integration_test.go. I'll mark as closed.

[2016-04-18 04:46] #8 closed

[2016-05-05 12:15] tsirolnik commented on #45
Saved my day.
On a side note, I suggest adding more examples. Maybe I'll add one when I finish the basics with it.

[2016-05-17 18:09] atishpatel opened #71 "Web Notification Error"
I keep getting a 'Signature-key pair contains more than one |' error when i try to parse a notification.

The signature i got from Braintree has 2 '|'. Am I missing something? Am i suppose to do something before passing the signature or payload?

[2016-05-17 20:20] #59 closed

[2016-05-17 21:51] atishpatel commented on #71
Figured it out. Braintree can send notifications with multiple payloads and signatures. The format is like xPublicKey|signature&yPublicKey|signature. I'm working on a fix. I'll make a pull request for this later.

[2016-05-17 21:51] #71 closed

[2016-05-23 22:59] chambo-e opened #72 "Sample Webhook notification"
Hello,
Is there a way to generate a sample webhook notification like in other drivers ?
I can work on a PR if needed.
Thanks

[2016-05-27 15:11] rzoom opened #73 "Device data support"
Hi, I love the project and am trying to use full Go for a new site.  According to [this](https://developers.braintreepayments.com/guides/paypal/server-side/ruby#using-device-data), it is recommended to provide device data when using a Vault record initiate a transaction.  I do not see any way to provide this data using the Go lib.  I have already collected the device data, just need a way to provi

[2016-05-27 21:17] leighmcculloch commented on #62
This was fixed by #70 and #65.

[2016-05-27 21:17] #62 closed

[2016-05-28 13:03] Bogdanp opened #74 "How do you apply a discount?"
I've tried many variations but whatever I do it doesn't seem like I can apply a discount to a new subscription (the `[]interface{}` type of `Subscription`'s `Discounts` field isn't very helpful in this regard either).

The returned error is `Forbidden (403)` in all cases.

[2016-06-05 13:08] dakom commented on #49
@pedromg that's a really good idea. In the meantime, until that's merged into the main branch, I don't think there's anything wrong with setting it directly on the object, is there?

i.e. `bt := braintree.New() [...] bt.HttpClient = utlfetch.Client(context)`

[2016-06-26 16:54] lionelbarrow commented on #73
Hey Rob,

I think this PR will help you out: https://github.com/lionelbarrow/braintree-go/pull/76

Note that device data is only required for transactions using PayPal as a payment method.

[2016-06-26 17:07] lionelbarrow commented on #49
@dakom Nope, although it'd be better form to have it in the constructor, so I've just added one: `NewWithHttpClient`, that allows you to set the client directly at creation time.

[2016-06-26 17:07] #49 closed

[2016-08-01 04:10] CoreyCole commented on #37
Hey @joaojeronimo, I'm getting the same error when I try to use the transaction example. What did you do to fix it? I feel like I'm missing something.

[2016-08-01 21:12] mnzt commented on #58
Bumpety bump

[2016-08-09 18:01] aalpar opened #77 "Running integration tests ..."
Possible dumb question:  How do I create a transaction in the Braintree sandbox with a specific Transaction ID?  I don't see a way through the web-console interface or the API to create a transaction with a specific ID.

[2016-08-10 16:54] brmasson commented on #77
The standard SDKs don't allow you to do that AFAIK, so I assume it isn't possible.

[2016-08-15 17:18] aalpar commented on #77
The `TESTING.md` file in braintree-go states that I need to create a transaction with the ID `dskdmb`:

[code]

What is the process for running the tests without being able to create a transaction with a specific ID?

[2016-08-15 18:50] aalpar commented on #77
I found the answer for this: `transaction_integration_test.go` has a disbursement test in it which falls under the guidelines of the comment at the end of the `TESTING.md` file.

Closing issue.

[2016-08-15 18:50] #77 closed

[2016-08-18 14:42] asib opened #79 "Production ready?"
Hi, I'm looking at using Go to talk to Braintree and found this library. I'm wondering if it's been used in anything serious and whether it will continue to be maintained?

Thanks.

[2016-08-22 16:14] HongxingTB commented on #38
hi Lionel, currently Customer().Find() return error, do we have a way to distinguish if it's 404 (customer doesn't exist) or 500 without parsing the error string? or get the status code out from error it returned?

[2016-08-22 16:15] HongxingTB commented on #79
We are using this one in production.

[2016-08-25 01:41] tejasmanohar commented on #19
Not gonna lie, this kinda sucks. I love Stripe's approach of having both a well-documented REST API and great client libraries- I don't think it has to be one or the other.

[2016-09-23 16:47] rkulla opened #85 "Bump api version?"
I noticed that the official Ruby sdk is using Api version 4 of braintree, but Braintree-go is still on version 3.

I'm not sure of what the differences are, and 3 still seems to work fine, but it's perhaps worth looking into by someone who knows.

[2016-12-08 04:21] plutov opened #91 "MarshalText panics"
I am using the following code to create a subscription:
[code]

Then I Marshal first return value and send to a browser, but have a panic:
[code]

[2016-12-08 04:44] #91 closed

[2017-01-24 20:44] bhlvoong opened #95 "Forbidden (403) when using nonce token"
Hello Lionel,

Great work with the library. I'm trying to create a Transaction with the PaymentMethodNonce property instead of using a direct Credit Card payment but keep hitting a 403.  This nonce value is retrieved after my server returns a client token and the client tokenizes their payment through paypal.  Here's roughly how the process looks like:

bt = braintree.New(braintree.Production, mer

[2017-01-25 00:10] bhlvoong commented on #95
For whatever reason, specify MerchantAccountId: "USD" causes this 403 Forbidden response from Braintree.  I get the same behavior using the Java SDK, so I assume something is incorrectly setup with my account.  Omitting the MerchantAccountId value processes the transactions no problemo.

[2017-02-17 15:54] dannyvankooten commented on #58
I think you can already specify the `PaymentMethodToken` on the Subscription struct. The [example here](https://github.com/lionelbarrow/braintree-go/blob/master/examples/subscription/server.go#L84) does it.

However, there doesn't seem to be support for the [Braintree payment method objects](https://developers.braintreepayments.com/guides/payment-methods/ruby) yet. I'm looking into this as we spea

[2017-02-24 13:39] #74 closed

[2017-03-03 22:38] leighmcculloch commented on #95
@bhlvoong: It sounds like the issue was unrelated to this community SDK but rather account setup. I'm going to close this issue. Please reopen if that is not the case.

[2017-03-03 22:38] #95 closed

[2017-03-08 03:54] leighmcculloch commented on #85
We're actually using ApiVersion4 for some API endpoints where it makes a difference, e.g. [payment_method_gateway.go](https://github.com/lionelbarrow/braintree-go/blob/master/payment_method_gateway.go#L24-L34). I'm guessing we'll probably update the versions of each endpoint to v4 as we need to, to access additional functionality as we make it available in this SDK as was done there.

[2017-03-08 05:01] leighmcculloch commented on #73
Closing this as #76 is merged and the device data can be provided to Braintree by setting it into the `Transaction` `DeviceData` field when creating the transaction.

[2017-03-08 05:01] #73 closed

[2017-03-21 15:49] rkulla opened #112 "Paginated Search"
While using braintree-go at Daily Burn a while back, we noticed that the transaction search would only return the first 50 results or so, so we added paginated search results to the library.

Haven't been able to find the time to clean up our code and submit a proper PR but here is an example of what we did if someone wants to use as a reference to implement this if there's no existing way to do i

[2017-03-25 01:19] #85 closed

[2017-03-26 05:00] leighmcculloch commented on #42
@DavidHuie @cjrd: See #115, it adds custom fields support to customers and transactions.

[2017-03-28 01:02] #42 closed

[2017-03-31 07:13] leighmcculloch commented on #29
Agree this is something we should do and would be consistent with other calls for semver consistency with a prefixed `v` in the go community. e.g. https://dave.cheney.net/2016/06/24/gophers-please-tag-your-releases

[2017-04-03 02:45] leighmcculloch opened #125 "Add a CHANGELOG before next version"
We should add a CHANGELOG to the project that outlines significant changes and new features between releases. As this package is still pre-v1 there may be small breaking changes in the exported api and this will be one place we can also highlight them between pre-v1 versions, and between major versions when we have them.

Suggested by @jszwedko in comments on #120.

[2017-04-03 03:12] jszwedko commented on #125
Took a stab at this in #126

[2017-04-03 03:12] jszwedko commented on #125
Apologies, in hindsight creating this issue first would have been better so that I could make sure I wasn't stepping on toes.

[2017-04-09 16:37] #125 closed

[2017-04-12 13:07] no1youknowz opened #127 "RiskData"
Hi,

Moving some processing from PHP to Go.

I'll provide some context...

I'm using RiskData per here:  https://developers.braintreepayments.com/reference/response/transaction/php#risk_data

Which is something like:

	$result = Braintree_Transaction::sale([
		...
	    'riskData' => Array(
			'customerIp' => $this->ci->input->ip_address(),
			'customerBrowser' => substr($_SERVER['HTTP_USER_AGENT']

[2017-04-13 07:08] leighmcculloch commented on #127
This library doesn't support sending risk data yet, but we should add it.

Gotchas I can see with adding it is that the request and response fields for risk data are different, and we use the one struct for both. We should probably separate the two by adding `TransactionRequest` like how we did recently for `Subscription`. Then `TransactionRequest` would have the risk data with customer browser an

[2017-04-13 19:47] leighmcculloch commented on #72
@chambo-e: There isn't one in this package, but did you want to open a PR adding a webhook testing gateway? The java library has one we could use as a base: https://github.com/braintree/braintree_java/blob/master/src/main/java/com/braintreegateway/WebhookTestingGateway.java

[2017-04-14 19:38] leighmcculloch commented on #127
@no1youknowz: See #130.

[2017-04-14 20:03] no1youknowz commented on #127
Thanks, will take a look at this over the weekend/monday.

Out of interest, in transaction.go there is:

    // TODO: not all transaction fields are implemented yet, here are the missing fields (add on demand)

I'm adding in currency-iso-code.

Is there anywhere I can add this into my own code, rather than appending the struct and then it getting removed whenever I update the library?

Thanks!

[2017-04-14 22:10] leighmcculloch commented on #58
@mnzt @dannyvankooten: You can specify the payment method nonce on the `SubscriptionRequest` when creating the subscription. Note that there is also a `PaymentMethodToken` field, and that won't take a nonce, you need the one named `PaymentMethodNonce`.

[2017-04-14 22:10] #58 closed

[2017-04-14 22:24] leighmcculloch commented on #127
@no1youknowz: I don't think there's a way to do what you described, but that list of fields are just the fields no one has gotten around to including. I've just opened PR 131 that adds it it in.

[2017-04-14 23:43] leighmcculloch commented on #29
I just pushed tags for `v0.10.0` and the previous release `v0.9.0` so if people want to use these or newer versions with gopkg.in they can.

[2017-04-14 23:43] #29 closed

[2017-04-14 23:44] leighmcculloch commented on #38
Closing because ^

[2017-04-14 23:44] #38 closed

[2017-04-19 06:43] leighmcculloch commented on #127
@no1youknowz: risk data is now in the transaction request in `master`, added in #130.

[2017-04-19 06:43] #127 closed

[2017-04-22 07:18] dannyvankooten opened #133 "Specify default http.Client timeout"
Hey,

While right now we can use `NewWithHttpClient` to pass in our own HTTP client, would it make sense to choose a sensible default for the `Timeout` field instead of using `net/http`'s default client (which has no timeout)?

I went through our codebase after reading [this post](https://medium.com/@nate510/don-t-use-go-s-default-http-client-4804cb19f779), so just dropping notes where I can.

Tha

[2017-04-22 21:39] leighmcculloch commented on #133
@dannyvankooten: Thanks that's a good catch. I think it makes sense for us to do as you say and provide a default client that isn't `net/http`s. Taking a look at the Braintree official SDKs for [Java](https://github.com/braintree/braintree_java/blob/1ea23ca33e9290ffb79ce458b0978e94737981e1/src/main/java/com/braintreegateway/Configuration.java#L139), [Ruby](https://github.com/braintree/braintree_ru

[2017-04-23 05:46] leighmcculloch commented on #133
@dannyvankooten: See #134.

[2017-04-23 06:31] dannyvankooten commented on #133
Whoa, that was fast. Looks good to me!

On April 23, 2017 7:46:27 AM GMT+02:00, Leigh McCulloch <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-04-25 14:22] RichardKnop opened #138 "Make newHmacer Exported"
Correct me if I am wrong but if I want to create an API endpoint in Golang to parse Braintree webhooks, I will need to build HMAC signature in order to parse the webhook data.

So I would need to do something alongside these lines:

[code]

The problem is the `newHmacer` function is not exported.

It would be to export this functionality so it can be imported by projects as currently I have to cop

[2017-04-25 14:28] #138 closed

[2017-04-25 14:28] RichardKnop commented on #138
Ignore this. I think I know what I was doing wrong.

[2017-04-25 14:41] RichardKnop opened #139 "How To Get Signature From Request"
Hello,

How can I get signature from `*http.Request` object in my handler where I want to parse a webhook notification like this:

[code]

I assume `payload` is just the content of `HTTP POST` data but where is `signature`? In one of the headers?

[2017-04-25 14:42] leighmcculloch commented on #138
@RichardKnop: In the request body there will be two form parameters, `bt_payload` and `bt_signature`. If you use `webhookGateway.Parse(r.FormValue("bt_signature"), r.FormValue("bt_payload"))` that function will use the hmacer to verify the signature and will return a `*WebhookNotification`.

We could probably add a helper `ParseRequest` method that took a `http.Request` and unpacked the two. It wo

[2017-04-25 14:44] leighmcculloch commented on #139
In the request body there will be two form parameters, bt_payload and bt_signature. If you use webhookGateway.Parse(r.FormValue("bt_signature"), r.FormValue("bt_payload")) that function will use the hmacer to verify the signature and will return a *WebhookNotification.

We could probably add a helper ParseRequest method that takes a http.Request and unpacked the two. It would make using this more

[2017-04-25 14:45] RichardKnop commented on #139
@leighmcculloch Oh thanks. This is helpful :)

[2017-04-25 14:46] #139 closed

[2017-04-28 15:27] ccahoon opened #143 "AVS/CVV/Gateway/Tax Amount/Tax Exempt Transaction Fields"
Hello! Thanks for the great library. It's exciting to see so much great work being done on it!

I've got a branch based on a fairly old revision that implements a couple more transaction fields (and some alternative implementations of great work you've done since then). I haven't updated to the latest revision, but in a few months when I do, I'd be able to submit a pull request, but I wanted to as

[2017-04-28 18:00] leighmcculloch commented on #143
@ccahoon: A PR would be fantastic! Feel free to drop a list of requested fields (separate issues for each preferably), but if you open a PR there's a chance that what gets merged will align with your own solution.

[2017-04-28 18:44] ccahoon commented on #143
Great! In the process of writing the test, I've discovered (I think) that the sandbox account doesn't have AVS and CVV rules enabled. Do you think it'd be problematic for other tests to turn them on?

[2017-04-28 21:55] RichardKnop commented on #72
@chambo-e See my PR: https://github.com/lionelbarrow/braintree-go/pull/142

[2017-04-28 22:45] leighmcculloch commented on #143
@ccahoon: I've add a merchant account to the sandbox account the tests run against that has AVS and CVS turned on. All the rules are turned on just for this merchant account id.

Merchant Account ID: `avs-and-cvs`

Note: `cvs` was supposed to be `cvv` but I made a typo, and can't change it. 😭

[2017-04-30 02:20] #72 closed

[2017-05-09 22:58] RichardKnop opened #150 "Does Transaction.CustomerId exits?"
I have not being able to see XML tag corresponding to `Transaction.CustomerId` field:

https://github.com/lionelbarrow/braintree-go/blob/master/transaction.go#L13

Is this a mistake or is it returned with XML in some cases?

The way to get customer ID from transaction object is `Transaction.Customer.Id`, because `Transaction.CustomerId` will always be empty.

[2017-05-10 03:26] leighmcculloch commented on #150
@RichardKnop: Nice spotting. I ran a few integration tests and I didn't see it come back in the response at all either. I think this is an artifact of when the `Transaction` struct use to be used for the request and the response, but now it's only used for the response. See #151.

[2017-05-10 03:59] leighmcculloch commented on #57
@manuelstofer: It's not possible to set the id of a transaction. To run all the tests successfully including the integration tests that use the `dskdmb` transaction with your own sandbox account would probably require you to change the transaction id in the test to a transaction id in your own account. Maybe we could make the id an environment variable that can be set..

[2017-05-12 04:24] #150 closed

[2017-05-19 21:15] jmhodges opened #156 "support context.Context in all remote APIs"
Passing contexts around for timeouts, cancellation, and other behaviors is now common and well-documented in Go land. It'd be really nice to have support for that in braintree-go. Even Context versions of the methods like how `database/sql` was updated would work.

[2017-05-20 01:32] leighmcculloch commented on #156
@jmhodges: Would you like to open a PR adding context to one area of the SDK which could be iterated on, and then we can adapt that pattern to the rest of the library?

[2017-05-20 01:34] jmhodges commented on #156
Can do!

[2017-05-20 01:55] jmhodges commented on #156
Did the AddonGateway and AddressGateway in https://github.com/lionelbarrow/braintree-go/pull/158

[2017-06-07 06:37] leighmcculloch commented on #133
Change has been made to set a 60s timeout by default which is consistent with the official SDKs. It'll be included in the next release, v0.12.0.

[2017-06-07 06:37] #133 closed

[2017-07-19 21:04] ghost opened #179 "Customer update with VerifyCard: false returns "Gateway Rejected: cvv""
Hi, I've been using braintree-go and I've come into an issue where I'm trying to update a customer's credit card billing address without using a payment method nonce, and I'm getting the `"Gateway Rejected: cvv"` error response.

I have the `VerifyCard` field set to `false` in `CreditCardOptions`, which I believe should help me avoid getting this error response.

Anyways, my code is at the bottom.

[2017-07-21 06:44] leighmcculloch commented on #179
I tried to replicate the above on my sandbox account, but in every case I did not get the `Gateway Rejected: cvv` error that you did. It's possible that there's a setting configured in your account that's different to mine though that might cause verification to kick in. The `VerifyCard` parameter is only sent to the API if it is `true`. Setting it to `false` is the same as not setting it.

[2017-08-03 16:51] ccahoon commented on #143
Looks like we've done all of the bits of this issue! Thanks so much for working with me on it.

[2017-08-03 16:53] leighmcculloch commented on #143
Thanks for kicking this off and contributing with PRs. It led to some great improvements to the package all round!

[2017-08-03 16:53] #143 closed

[2017-08-16 19:42] esrobinson commented on #179
Yeah, I think this happens when the account is set up to verify card by default.  In that case, to add an address or update a card without providing the CVV, you have to pass `VerifyCard` as `false` to the API.

[2017-09-01 23:03] leighmcculloch commented on #79
@asib: Me and a few other people (see commit history) have been maintaining and continuing to extend the functionality supported by the SDK. If there are features missing you need please open issues or PRs if you'd like to take a stab at it.

[2017-09-01 23:03] #79 closed

[2017-09-01 23:03] #57 closed

[2017-09-01 23:04] leighmcculloch commented on #50
#52 was closed without intention to support the oauth gateway, closing this also.

[2017-09-01 23:04] #50 closed

[2017-09-29 18:40] leighmcculloch commented on #4
I think this was resolved when [search.go](https://github.com/lionelbarrow/braintree-go/blob/9ef9669d52433c62f284b266c2617334c9b1f914/search.go) was added. Please reopen if needed.

[2017-09-29 18:40] #4 closed

[2017-09-29 23:20] leighmcculloch commented on #179
@ghost @esrobinson: Does #190 address the issue you're seeing?

[2017-09-29 23:25] esrobinson commented on #179
Yeah, I think that takes care of it.  Thanks!

[2017-10-03 19:59] leighmcculloch commented on #179
Fixed is released in `v0.15.0`.

[2017-10-03 19:59] #179 closed

[2017-11-07 12:12] munknex opened #195 "Remove flag.Parse() from init() please"
https://github.com/lionelbarrow/braintree-go/blob/95dec3d454ce596f89da7e18822aa7796c8641e7/test_values.go#L78

It is impossible to use flags in main package because of this.

[2017-11-07 13:42] leighmcculloch commented on #195
Whoops, I introduced that in #192 just recently but it was supposed to be inside a `_test.go` file so that it was included in the built package. Will share a fix shortly.

[2017-11-07 15:38] leighmcculloch commented on #195
Fixed in #196.

[2017-11-07 15:38] #195 closed

[2017-11-07 22:02] munknex opened #197 "Subscriptions.Search"
Would be nice to add this function:

[https://developers.braintreepayments.com/reference/request/subscription/search/python](https://developers.braintreepayments.com/reference/request/subscription/search/python)

[2017-11-08 06:25] leighmcculloch commented on #197
@munknex would you like to open a PR adding it? The search objects already exist because transaction search is already implemented. It just needs expanding to Subscription. Related files you could look at for more context:

https://github.com/lionelbarrow/braintree-go/blob/a246878e7d43d6b5dc38ec985ab7b6312cf4df46/search.go#L8-L42

https://github.com/lionelbarrow/braintree-go/blob/a246878e7d43d6b5d

[2017-11-11 14:24] #156 closed

[2017-12-15 01:09] buola opened #199 "number_of_billing_cycles missing in Modification"
the Modification structure is missing the number_of_billing_cycles field, which makes it impossible to get the default number of cycles of a discount/add-on ID, or the number of cycles of a discount/add-on within a subscription

[2017-12-15 07:09] leighmcculloch commented on #199
That shouldn't be too difficult to add. @buola would you be up for adding the field and submitting a PR? This would be a good change for a first contribution.

[2017-12-20 11:04] ilayaraja89 commented on #112
Does the same applicable for Customers search ?

[2017-12-21 02:48] leighmcculloch commented on #112
@ilayaraja89 I think so yes, although that could be a separate piece of work. Looking at the Braintree Java SDK it looks like each object that can be search with pagination has a "Pager" class.

Examples:
[TransactionPager.java](https://github.com/braintree/braintree_java/blob/master/src/main/java/com/braintreegateway/TransactionPager.java)
[CustomerPager.java](https://github.com/braintree/braintr

[2017-12-23 01:11] leighmcculloch commented on #199
Added in #200. Will be in next release.

[2017-12-23 01:11] #199 closed

[2018-01-24 07:37] bastiankoetsier opened #207 "TLS 1.2 as default"
Hey,

given the fact that Braintree will drop TLS support for [less than 1.2](https://www.braintreepayments.com/blog/updating-your-production-environment-to-support-tlsv1-2), would you accept a PR that sets this as the default minimum TLS version to be used by the actual HTTP client?

[2018-01-24 08:15] leighmcculloch commented on #207
👍 we should setup the HTTP Client with the best defaults for sure.

[2018-02-17 00:29] leighmcculloch commented on #207
This has been done in #208 and is merged, and will be in `v0.18.0` when it's released.

[2018-02-17 00:29] #207 closed

[2018-03-03 01:19] #112 closed

[2018-03-22 20:25] AnandSundar opened #216 "Credit card token field is not set after transaction"
Hi,

Thank you for building this go package for braintree.
I may have found a possible issue that I want to bring to your attention.

When I run the code mentioned below, the transaction got approved but the tx.CreditCard.Token (tokenized credit card number) field is not set. Can anyone fix this please?

        bt := braintree.New(
		braintree.Sandbox,
		"47sdtstnwjp8xy7k",
		"nxf5g2kx2wgdtrrs",

[2018-03-22 20:35] AnandSundar opened #217 "Tokenization of Credit Card without making a sale"
Hi,

I'm building a software that tokenizes credit card numbers using your Go package and would very much appreciate if you guys can add this following functionality.

I want to get a token (Credit card number that is tokenized) from Braintree without making a sale (i.e) I want Braintree to give me a token back without charging the credit card.

Thanks,

[2018-03-23 03:39] leighmcculloch commented on #216
The `Transaction.CreditCard.Token` field is only set to a value if the credit card has been vaulted, either by storing it as a payment method, or by instructing the API to store the card in the vault while processing the transaction. See the Braintree developer docs [here](https://developers.braintreepayments.com/reference/response/transaction/java#credit_card_details.token).

[code]

[2018-03-23 03:39] #216 closed

[2018-05-06 18:06] vania-pooh opened #223 "Add CreatedAt and UpdatedAt field to Customer object"
Seems to be missing in current structures but is present on Braintree [page](https://developers.braintreepayments.com/reference/response/customer/php). Could send a PR adding this field to struct. Any thoughts against such modification?

[2018-05-06 18:25] vania-pooh commented on #223
https://github.com/lionelbarrow/braintree-go/pull/224

[2018-05-06 18:26] vania-pooh commented on #223
Btw, Transaction already has `UpdatedAt`.

[2018-05-06 18:37] #223 closed

[2018-05-11 13:29] alexd765 opened #225 "secure way to use contexts?"
I am curious how to use contexts with this library in a secure way.

Let's use this example:
[code]

If the context get canceled during the `PaymentMethod().Create()` we can get into a state where we think the api call failed, but it actually was successful.

You could argue to just increase the timeout of the cancel to 2 minutes, but even this would be insecure because of the additional time spen

[2018-05-15 13:36] DonMillion opened #226 "Is there any PayPal example?"
I want to pay with paypal, but I can't find entrance to put my merchantAccountId when I generate the token.
So I try to create transcation or subcription with nonce and put my merchantAccountId in the transcationRequest or subcriptionRequest. It told me that Payment instrument type is not accepted by this merchant account.

PS: I try it in sandbox env

[2018-05-16 04:35] leighmcculloch commented on #226
@DonMillion the only example of a PayPal transaction in this SDK are in the integration tests:

https://github.com/lionelbarrow/braintree-go/blob/e40fff02a52df6c04c87e57673e5dd7f41f3569a/transaction_paypal_details_integration_test.go#L13-L39

The standard Braintree developer docs discuss how to accept PayPal using the iOS, Android or JS SDKs: https://developers.braintreepayments.com/guides/paypal/

[2018-05-16 04:37] leighmcculloch commented on #226
@DonMillion You may like to contact Braintree's support: https://developers.braintreepayments.com/forms/contact.

[2018-05-16 04:39] leighmcculloch commented on #225
I don't know of any prescribed pattern in Go that deals with this situation, other than if you have an outgoing connection that you do not want to be canceled by an upstream context and do not want it to use the upstream context, you can create the outgoing request with a different context. So when calling `api.PaymentMethod().Create(ctx, ...)` the `ctx` could become `context.Background()` which i

[2018-05-16 08:26] DonMillion commented on #226
Is works in production env. I am trying to contact Braintree's support for help about sandbox env

[2018-05-16 10:53] alexd765 commented on #225
I feel the same.
The only safe way to use this library is to create a new context for each call.
This defeats the purpose of contexts.

I wonder if it would have been better to only use contexts internally and not give the caller an option to provide an outside context. It seems to provide almost no benefit and add a way to shoot yourself in the foot.

[2018-05-17 06:08] #226 closed

[2018-05-17 13:55] lvidaic opened #227 "Decline codes"
I am implementing payment using this lib! Everything is great except one thing. I am trying to do manual retries on unsuccessful subscription. For that i need to know decline codes to be able to map codes do soft/hard declines and do retry logic based on type of decline. I get right messages from decline table but cant get right code when casting error to braintreeError. Any solution?

[2018-05-28 09:33] vania-pooh opened #228 "Support Dispute object in webhooks"
1) Need to define respective structs and support unmarshalling of `braintree.WebhookNotification.Subject` to a `Dispute`.
2) Currently no need to implement API handles like [this](https://developers.braintreepayments.com/reference/request/dispute/accept/ruby).

If this feature is OK for you - can send respective PR.

[2018-05-28 17:10] tengis617 opened #230 "Add Go Report Card"
This project is great! kudos to the maintainers/contributors!
I wonder if we could add a Go Report Card Badge, and maybe fix some minor stylistic issues (e.g comments for exported methods) to make this library even more awesome?

[2018-05-28 20:18] leighmcculloch commented on #228
@vania-pooh Indeed, please send a PR and I'll take a look at getting it merged.

[2018-05-31 13:55] leighmcculloch commented on #230
@tengis617 I think that's a good idea. Adding comments on exported types would improve the godoc for sure. We could start with adding the Go Report Card Badge as you said, then address the other things over time. Are you up for opening a PR to add the badge?

[2018-06-01 03:56] tengis617 commented on #230
@leighmcculloch awesome! i'll make a PR!

[2018-06-01 04:11] leighmcculloch commented on #230
Thanks @tengis617 ! It's merged!

[2018-06-01 04:11] #230 closed

[2018-06-01 09:55] tengis617 opened #235 "Documentation on running tests is incorrect"
In both the readme and testing documentation, it is mentioned that you can run tests using `go test ./...`, but since build tags are used, no tests will be actually run. I know that its not hard to figure it out, but it would be more beginner friendly to include tags in the docs.
Maybe we can also remove build tags for unit tests ? so unit tests will always run when go `test ./...` is called?

[2018-06-06 03:21] vania-pooh opened #237 "Implement Subscription.Search() methods"
Should be able to search for subscriptions as described in https://developers.braintreepayments.com/reference/request/dispute/search/java.

[2018-06-07 06:35] leighmcculloch commented on #197
Resolved in #229.

[2018-06-07 06:35] #197 closed

[2018-06-07 06:43] leighmcculloch commented on #235
I agree we need to simplify running the tests. We could remove the tags and replace them with the [testing.Short()](https://golang.org/pkg/testing/) and skipping tests when the `-short` flag is passed to `go test`. That would let someone run the unit tests alone if needed.

I'm also interested in replacing the integration tests with something similar to [ruby VCR tests](https://github.com/vcr/vcr)

[2018-06-07 07:52] leighmcculloch commented on #235
I've started see how feasible VCR tests are in the [add-vcr branch](https://github.com/lionelbarrow/braintree-go/compare/add-vcr). It doesn't look that hard, but needs some work to help match responses to requests where IDs are contained in the URLs.

[2018-06-09 03:59] leighmcculloch opened #239 "Support Dispute Search"
This was partially included in #231, but then removed from that PR because it was getting too big.

cc @vania-pooh

[2018-06-09 03:59] leighmcculloch opened #240 "Support Dispute File Evidence"
This was partially included in #231, but then removed from that PR because it was getting too big.

This issue requires not only a function and types for file evidences, but a DocumentUploadGateway to handle uploading files before they are associated with the evidence.

cc @vania-pooh

[2018-06-09 04:04] #228 closed

[2018-06-09 10:57] kinqsley opened #241 "How to get transaction response status"
I have the subscription creation and how can I receive the transaction response code? I want to know the error code and message if the subscription/transaction is failed.

[code]

[2018-06-10 06:18] leighmcculloch commented on #235
@tengis617 Yup. What I'm thinking is:

- If VCR tests mean all tests can run fast most of the time, we don't need to differentiate between unit and integration tests and we can remove the build tags.
- If VCR tests don't work out, then we'll still want to differentiate, and we can do that maybe with the `-short` instead of build tags.

But, lets hold off on doing either of those until we see what

[2018-06-18 03:23] vania-pooh opened #242 "Subscription.Update() method does not allow to update subscription ID"
Just compare. In Java client it works like the following:
[code]
In this Go client the value from `SubscriptionRequest` is always used. This prevents user from updating the ID. So I think a correct signature should be `Update(ctx context.Context, id string, sub *SubscriptionRequest)`.

[2018-06-18 08:00] vania-pooh commented on #242
As usually can send a fix - but let's first of all discuss how to do this better. Should I break current API by changing method signature or just add one more method?

[2018-06-20 08:13] vania-pooh commented on #242
@leighmcculloch @lionelbarrow any comments on this?

[2018-06-24 07:01] leighmcculloch commented on #242
Hi @vania-pooh! I've been on vacation and not at a computer, so I'm just seeing this now. I agree, looks like the API is missing the ability to update the ID. The Braintree docs even provide an example of being able to update an ID so we should try and support it too.

Ref: https://developers.braintreepayments.com/reference/request/subscription/update

👍 if you're up for opening a PR.

[2018-06-24 07:02] leighmcculloch commented on #242
I'd prefer the change just break the API.

[2018-06-24 08:27] vania-pooh commented on #242
@leighmcculloch ok, will send respective PR soon.

[2018-06-24 10:44] vania-pooh commented on #242
@leighmcculloch take a look at my changes in https://github.com/lionelbarrow/braintree-go/pull/243.

[2018-06-25 15:58] leighmcculloch commented on #242
Fixed by #243.

[2018-06-25 15:58] #242 closed

[2018-07-20 22:48] #235 closed

[2018-07-20 22:48] leighmcculloch commented on #235
I fixed up the test documentation for now in #251 so at least it's correct, I'll open a new issue for VCRs.

[2018-07-20 22:49] leighmcculloch opened #252 "Add VCR-like fixtures to integration tests"

[2018-07-20 22:49] leighmcculloch commented on #235
I've opened a new issue #252 for VCR fixtures.

[2018-07-22 05:21] leighmcculloch commented on #241
@kinqsley You can use the `Transactions` field on `Subscription` to get the transactions for a subscription. For a new subscription there should just be one.

https://github.com/lionelbarrow/braintree-go/blob/983e37a22a88f386e2ea93df267c28bf211b133f/subscription.go#L49

Ref: https://developers.braintreepayments.com/reference/response/subscription#transactions

[2018-07-22 05:21] #241 closed

[2018-07-22 05:38] leighmcculloch commented on #225
@alexd765 I posed the concept of passing down one part of a context (values) and not a cancelation [here](https://twitter.com/Sajma/status/1006006515264901121) but @Sajmani pointed out that for distributed systems he hasn't seen cases where one would separate the two.

After rethinking it, I agree with that statement. Given you always need to handle outgoing network calls timing out for other reas

[2018-07-22 06:05] leighmcculloch commented on #217
@AnandSundar There's a couple ways you might want to do this with this SDK:

1. Using a Client SDK and this Server SDK

   Normally you'd use the [Braintree Client SDKs](https://developers.braintreepayments.com/guides/client-sdk/setup/javascript/v2) to pass a card and get back a `nonce`, then use the `nonce` with this SDK's `PaymentMehthodGateway` to vault the nonce, and then you'd get back a `tok

[2018-07-22 06:05] #217 closed

[2018-07-22 16:18] vania-pooh opened #256 "Fetch all customers"
In my code I have a periodic background process that needs to somehow fetch `all` customers via Braintree API and then do some processing for every customer (mainly related to manually handling trial expiration). Right now `CustomerGateway` has `Search(ctx context.Context, query *SearchQuery)` method to get a list of customers.

**My question:** is a single call to this method with an empty search

[2018-07-22 16:19] vania-pooh commented on #256
In Java and Ruby client I'm also seeing methods to fetch all customer IDs and nothing similar in this one.

[2018-07-22 17:45] leighmcculloch commented on #256
You're right there is logic missing in the SDK. The SDK only gives you the first page (probably 50) of customers. If you'd like to open a PR adding the logic, follow the patterns in the `TransactionGateway`'s functions: `SearchIDs` and `SearchPage`, where the first function will get you a list of all the IDs for a search result, and the second will then page through the IDs.

Note: The Braintree A

[2018-07-22 18:10] vania-pooh commented on #256
@leighmcculloch ok, will send a PR.

[2018-07-23 06:58] leighmcculloch commented on #227
The Braintree SDKs don't seem to contain whether a processor response code is a soft or hard decline. But the documentation does have this table: https://developers.braintreepayments.com/reference/general/processor-responses/authorization-responses#decline-codes

[2018-07-24 05:38] #256 closed

[2018-07-25 02:43] tengis617 commented on #252
@leighmcculloch is anyone working on this? I'm interested!

[2018-07-25 03:20] leighmcculloch commented on #252
@tengis617 I have a WIP progress here: https://github.com/lionelbarrow/braintree-go/compare/add-vcr.

[2018-08-04 19:59] leighmcculloch commented on #225
Closing this issue due to inactivity. Please reopen if needed.

[2018-08-04 19:59] #225 closed

[2018-11-02 17:21] ccahoon opened #264 "New release at new import path"
First, I'm excited that this module has its own top-level home now.

We'd love to switch over to this import path, but we would also love it to be on an official version number. Would it reasonable to release a version v0.20.1, or something along those lines, that includes the updates to the official import path and the couple other commits along the way?

This isn't urgent, of course, but I thoug

[2018-11-03 02:32] leighmcculloch commented on #264
Good idea! We should tag a new version because the import path is used internally in a couple places. I'll get that out now.

[2018-11-03 04:44] leighmcculloch commented on #264
`v0.21.0` is released 👍

[2018-11-03 04:44] #264 closed

[2018-11-05 15:06] leighmcculloch opened #266 "TestTransactionSearchNext test is flaky"
`TestTransactionSearchNext` test is flaky and is failing sometimes.

[code]

[code]

Examples:
https://travis-ci.com/braintree-go/braintree-go/jobs/156323626
https://travis-ci.com/braintree-go/braintree-go/jobs/156320611

[2018-11-08 14:26] krak3n opened #272 "CreditCard `product_id` not included on CreditCard type?"
Hi, thank you for producing this library, I was wondering why the `product_id` field is not included on the CreditCard type? https://developers.braintreepayments.com/reference/response/credit-card/python#product_id

Thanks,

Chris

[2018-11-08 15:57] leighmcculloch commented on #272
@krak3n I don't think there's any particular reason it hasn't been included other than nobody has added it yet. Would you be up for opening a PR to add this field?

[2018-11-08 16:51] leighmcculloch commented on #227
@lvidaic #273 adds a new field that you can use to determine if the decline is a soft or hard decline.

[2018-11-08 16:51] krak3n commented on #272
@leighmcculloch certainly :+1: gives me something to do on the train home :train:

[2018-11-16 16:12] leighmcculloch commented on #272
The PR for this #274 has been merged. Thanks @krak3n !

[2018-11-16 16:12] #272 closed

[2018-11-19 23:29] aaronlehmann opened #276 "(*TransactionGateway).Refund does not support specifying an order ID"
It looks like the Ruby version of the Braintree SDK allows a order ID to be specified as part of creating a refund: https://developers.braintreepayments.com/reference/request/transaction/refund/ruby#order_id

braintree-go does not allow this.

I imagine that this is only a matter of adding an order ID to the `TransactionRequest`. If so, would you like me to open a pull request to do this? And woul

[2018-11-20 01:51] leighmcculloch commented on #276
Yup we should add this. I think we should add a new function like:

[code]

We'll need a new `TransactionRefundRequest` similar to the Java SDK:
https://github.com/braintree/braintree_java/blob/0676718c89831382d450ee44f4fe8d0389c4c893/src/main/java/com/braintreegateway/TransactionRefundRequest.java

Given that this is an optional field and most people are likely only passing the ID it's probably n

[2018-11-20 01:52] leighmcculloch commented on #276
@aaronlehmann Your welcome to open a PR with this change if you're up for it.

[2018-11-20 04:36] #276 closed

[2018-11-20 04:52] leighmcculloch commented on #276
Thanks @aaronlehmann !

[2019-01-30 11:50] midoNuminix opened #278 "Unit amount invalid format ".66""
Hello,

Thanks for the library. When representing a  value `NewDecimal(66,2)` it returns the result as `.66`. As a result, braintree returns invalid format for line item unit amount as it expects the value to be `0.66`. A fix will be doing the following:

[code]

[2019-01-31 05:45] viggy28 opened #279 "Signature-key pair contains the wrong public key!"
Getting that error when trying to use ParseRequest() method.

[code]

my common.BraintreeInit() is

[code]

Not sure am i doing anything wrong here. Checked the keys & merchantId everything looks fine. Thanks.

[2019-02-01 04:12] leighmcculloch commented on #279
Hi @vr001! Are you able to share some of the details of the error that's being returned by `webhookNotificationGateway.ParseRequest(...)`?

[2019-03-03 05:38] leighmcculloch commented on #279
This error usually happens if the webhook is configured if the public key configured with the SDK doesn't match any of the keys used to sign the webhook. If you look at the raw signature included in the webhook the signatures will be separated by `&`, with one per key. There might only be one. Within a signature there will be two parts separated by the `|`. The first part is the public key. Do you

[2019-03-03 07:34] leighmcculloch commented on #278
Thanks for raising this behavior @midoNuminix. I've made a change #280 to address the serialization inconsistency of `Decimal`.

[2019-03-07 05:27] viggy28 commented on #279
@leighmcculloch Thanks for the response.

Error i am getting: `Signature-key pair does not contain |`

Here is the code. Of course, removed the public & private key.

`// SubMerchantStatusWebhook is a webhook called by braintree to notify submerchant status
func SubMerchantStatusWebhook(w http.ResponseWriter, r *http.Request) {
	if r.Method != "POST" {
		w.WriteHeader(http.StatusMethodNotAllowed)

[2019-03-08 04:33] leighmcculloch commented on #279
@viggy28 nothing jumps out at me in the examples you shared, although the fact that you are seeing different errors suggests that something is changing. Initially you reported `Signature-key pair contains the wrong public key!` but now `Signature-key pair does not contain |`. Is it possible the request is being altered before it gets to this code?

[2019-03-10 06:51] viggy28 commented on #279
@leighmcculloch you are spot on. Was using bytes.NewBuffer() on the request.Body. So, it modified the body. Am closing the issue. Sorry, for creating it. Appreciate your efforts.

[2019-03-10 06:52] #279 closed

[2019-03-10 07:23] leighmcculloch commented on #279
Yay! I'm glad that we figured it out. Happy coding!

[2019-04-15 10:55] ivokund opened #284 "DeviceData only available in `TransactionRequest`?"
https://developers.braintreepayments.com/guides/advanced-fraud-tools/server-side

It says here that in addition to transaction body, `DeviceData` should be added also to customers and payment methods. Is there a reason why this property is only available in `TransactionRequest`?

Thanks!

[2019-04-17 05:31] leighmcculloch commented on #284
Hi @ivokund! I don't think there's any good reason the fields aren't in this SDK yet, likely just nobody has added them yet to `PaymentMethod` and `Customer`. If you'd be up for opening a PR adding them please feel free to submit!

[2019-04-17 05:32] leighmcculloch commented on #278
This was fixed in #280.

[2019-04-17 05:32] #278 closed

[2019-04-17 13:29] nikolay-fms opened #285 "Decimal.MarshalText panics"
Getting the following exception on marshalling parsed webhook notification:
[code]

Using this just for archiving got notifications, like this:
[code]
This happens for webhook notifications we got from Braintree sandbox.
They are parsing w/o any issues as we getting all required data from them.

[2019-04-20 06:35] leighmcculloch commented on #285
👋 Thanks for opening this issue. I think the issue is that the `Decimal.MarshalText` function is not currently safe to call on a `nil` `Decimal`. If you'd be up for opening a PR changing that, it's definitely welcome and should be a rather small change.

To validate that it will fix your issue, could you share a sanitized copy (removing any sensitive or personal or identifiable information) of the

[2019-05-14 09:20] lindroth opened #286 "TestAllTransactionFields fails with expected tx2.RiskData not to be empty"
On mastert the test `TestAllTransactionFields` has started to fail in the travis build against the Braintree Sandbox specified in `.default.env`

`transaction_integration_test.go:976: expected tx2.RiskData not to be empty`

Seems like something has changed on Braintrees end. Does someone has more information about this?

[2019-07-04 16:38] leighmcculloch commented on #240
I'm closing this issue as [I have left Braintree](https://twitter.com/___leigh___/status/1146485107881996288) and I'm unable to continue contributing to this library.

[2019-07-04 16:38] #240 closed

[2019-07-04 16:38] leighmcculloch commented on #252
I'm closing this issue as [I have left Braintree](https://twitter.com/___leigh___/status/1146485107881996288) and I'm unable to continue contributing to this library.

[2019-07-04 16:38] #252 closed

[2019-07-04 16:38] leighmcculloch commented on #240
I'm closing this issue as [I have left Braintree](https://twitter.com/___leigh___/status/1146485107881996288) and I'm unable to continue contributing to this library.

[2019-07-04 16:39] leighmcculloch commented on #239
I'm closing this issue as [I have left Braintree](https://twitter.com/___leigh___/status/1146485107881996288) and I'm unable to continue contributing to this library.

[2019-07-04 16:39] #239 closed

[2019-09-01 01:26] ernsheong opened #289 "go mod support"
I can't seem to install with go modules:

[code]

Any guidance on this?

[2019-09-01 09:39] ernsheong commented on #289
Not sure what changed, it suddenly decided to start working again. Thanks

[2019-09-01 09:39] #289 closed, assigned to nobody

[2019-10-13 22:35] 0sc commented on #285
I would love to work on this. Is it still up for grabs?

[2019-10-13 22:37] 0sc commented on #284
Any updates on this? I can send in a PR with the fix if it's still desired.

[2019-10-21 05:43] daisy1754 opened #295 "go 1.13 support"
Hi is there a plan to support go 1.13? Currently unit test is failing because of flag.Parse here https://github.com/braintree-go/braintree-go/blob/master/init_test.go#L81

I am happy to contribute if CI is fixed https://github.com/braintree-go/braintree-go/issues/286

[2019-10-28 03:59] daisy1754 opened #296 "This repository is no longer maintained - proposal for future"
As discussed in https://github.com/braintree-go/braintree-go/pull/288 this library is no longer maintained since the core maintainer ( @leighmcculloch ) left the braintree. Even though braintree open source team allegedly has ownership on this repo, it is not an official library supported by braintree.

CI is currently failing with master build and `make test` fails if you run with go 1.13.

I wou

[2019-10-28 10:05] eaigner commented on #296
I'm no longer involved in this project really.

[2020-03-16 06:55] amankaur27 opened #298 "Panic on Transaction Status but transaction performed successfully"
Hi,

I have written a script to create transactions on Braintree. The transaction is created successfully, but the system gave panic error as well. I am providing the code snippet here:

`
bt = braintree.New(braintree.Production, btkeys.MerchantId, btkeys.PublicKey, btkeys.PrivateKey)

    ctx = context.Background()

   	transaction := &braintree.TransactionRequest{
		Type:               "sale",

[2020-03-26 13:16] ernsheong commented on #296
Are we supposed to move on to the GraphQL API at some point? Can @braintreeps provide some clarity on direction for this repo?

UPDATE: I would advise anyone reading this to use Braintree's GraphQL API, go [here](https://graphql.braintreepayments.com/) to get started

[2020-05-01 20:07] owebudde opened #300 "Outdated SDK Warning"
Got an email from Braintree warning me that the SDK is out of date and could cause issues. Is this something to worry about?

[code]

Thanks

[2020-05-03 17:50] buu700 opened #301 "Fraud detection support"
https://developers.braintreepayments.com/guides/advanced-fraud-tools/server-side/ruby

`DeviceData` is supported for `TransactionRequest`, but would it be possible to add to `CreditCard` and `PaymentMethodRequest` as well?

[2020-07-22 16:40] daisy1754 commented on #296
in case people find it useful - we decided to have our fork https://github.com/BoltApp/braintree-go

[2020-10-12 12:26] #300 closed, assigned to nobody

[2022-08-25 05:57] Swati661989 opened #309 "Transaction create & settle took 7 sec for execution"
Hello Everyone,
I have implemented the braintree payment processor for payments but my payments took approx 7sec to create the charge. I have added the time execution code took by particular section then I found
bt.Transaction().Create(ctx, txnObj)  took 2 sec &
bt.Transaction().Settle(ctx, txn.Id) took 5 sec
I am testing my payments on sandbox account so I have to settle the payments. Please let